.header{
	position: fixed;
	top: 0px;
	background: linear-gradient(to right, #3BAEF0 ,#47D892);
	padding: 2px;
	width: 110%;
	left: -20px;
	height:40px;
	text-align: center;

}

#header-text{
	position: relative;
	right: -450px;
	margin-right: 50px;
	margin-left: 50px; 
	top: -7px;
	color: white;
	font-size: 15px;

}

#header-text1{
	position: relative;
	right: 10px;
	margin-right: 50px;
	margin-left: 30px;

}

#form-title{
	position: relative;
	top: 90px;
	font-size: 30px;
	font-weight: 300;

}

.form{
	position: relative;
	top: 80px;
	padding-top: 10px;
	padding-bottom: 15px;
}

.form-display{
	position: fixed;
	top: 17px;
	right: 440px;
	font-size: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
}

.input{
	font-size: 16px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 15px;
	padding-bottom: 18px;
	margin-bottom: 21px;
	height: 10px;
	width: 380px;
	border: 1px solid #D5E9F6     ;
	border-radius: 5px;
	font-weight: bold;

}


#sign-up{
	color: white;
	position: relative;
	width: 410px;
	height: 50px;
	font-size: 18px;
	right: 6px;
	margin-top: 10px;
	border: 5px solid white  ;
	background-color: #3BAEF0 ;
	border-radius: 12px;
}

#check{
	font-size: 15px;
}

#info{
	font-size: 15px;
}