.header{
	position: fixed;
	top: 0px;
	background: linear-gradient(to right, #3BAEF0 ,#47D892);
	padding: 2px;
	width: 110%;
	left: -20px;
	height:40px;
	text-align: center;

}

#header-text{
	position: relative;
	right: -450px;
	margin-right: 50px;
	margin-left: 50px; 
	top: -7px;
	color: white;
	font-size: 15px;

}

span{
	position: relative;
	right: 10px;
	margin-right: 50px;
	margin-left: 30px;

}

#form-title{
	position: relative;
	top: 70px;
	font-size: 35px;

}

.form{
	position: relative;
	top: 100px;
}

.form-display{
	position: fixed;
	right: 480px;
	/*font-size: 20px;*/
}

input{
	font-size: 16px;
	padding-left: 5px;
	padding-right: 10px;
	padding-top: 15px;
	padding-bottom: 20px;
	margin-bottom: 20px;
	height: 10px;
	width: 380px;
	border: 1px solid #8C8F91     ;
	border-radius: 2px;
	font-weight: bold;

}

#sign-up{
	color: white;
	position: relative;
	width: 420px;
	height: 60px;
	font-size: 20px;
	right: 10px;
	border: 5px solid white  ;
	background-color: #3BAEF0 ;
	border-radius: 12px;
}

#check{
	font-size: 3px;
	text-align: center;
}